Package: rocks.stek29.tgneverexplicit
Name: TGNeverExplicit
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Unrestrict all bots and channels in Telegram
Maintainer: Viktor Oreshkin
Author: Viktor Oreshkin
Section: Tweaks
