Package: rocks.stek29.tgneverexplicit
Name: TGNeverExplicit
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: Unrestrict all bots and channels in Telegram
Maintainer: Viktor Oreshkin (stek29) <cy@stek29.rocks>
Author: Viktor Oreshkin (stek29) <cy@stek29.rocks>
Section: Tweaks
